body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#minerals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px; /* Adjusted padding for smaller screens */
}

.mineral {
  width: calc(50% - 20px); /* Two minerals per row */
  max-width: 300px; /* Limiting max-width for smaller screens */
  border: 2px solid #333;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mineral h2 {
  font-size: 18px; /* Slightly reduced font size for smaller screens */
  margin-bottom: 10px;
  text-align: center;
}

.mineral p {
  font-size: 14px; /* Reduced font size for smaller screens */
  margin-bottom: 15px;
}

button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
